*, html {
    margin: 0;
    padding: 0;
}

.jumbotron {
    padding-top: 11rem;
    padding-bottom: 11rem;
    background-color:whitesmoke;
  }

  section{
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  footer{
    padding-top: 4rem;
  }

  .sosmed{
    background-color:lightgray;
  }