<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="text-center col-lg-12">
        <h2>About</h2>
        <hr class="star-light" />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>
          Saya adalah seorang pengajar di salah satu sekolah negeri. di
          sela-sela saya mengajar saya menyempatkan diri untuk membuat konten
          edukatif di chanel youtube saya
        </p>
      </div>
      <div class="col-lg-4">
        <p>
          selain membuat konten saya juga menjalani beberapa hobi diantaranya
          adalah membaca novel, nonton anime dan mendaki gunung.
        </p>
      </div>
      <!-- <div class="text-center col-lg-8 col-lg-offset-2">
        <a
          href="https://github.com/jeromelachaud/freelancer-theme"
          class="btn btn-lg btn-outline"
        >
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div> -->
    </div>
  </div>
</section>
