<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="text-center col-lg-12">
        <h2>Tentang Saya</h2>
        <hr class="star-light" />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>
          Saya adalah seorang pengajar di salah satu sekolah negeri. di
          sela-sela saya mengajar saya menyempatkan diri untuk membuat konten
          edukatif di chanel youtube saya
        </p>
      </div>
      <div class="col-lg-4">
        <p>
          selain membuat konten saya juga menjalani beberapa hobi diantaranya
          adalah membaca novel, nonton anime dan mendaki gunung.
        </p>
      </div>
    </div>
  </div>
</section>
